@use "../../../../../styles/colores.scss"  as *;

.modal {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
  /* Sem width ou height fixos aqui */
}

.acoes {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.resultado-container {
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: #eee;
  font-weight: 600;
}

p {
  margin: 0.25rem 0;
}
