<div class="execucoes-container">
  <!-- Header -->
  <div class="execucoes-header">
    <div class="header-info">
      <h2>Área de Trabalho</h2>
      <p>Arraste os itens do pipeline ou clique para executar</p>
    </div>
    <div class="header-actions">
      <button class="btn-nav" (click)="navegarParaProjetos()" matTooltip="Meus Projetos">
        <mat-icon>folder</mat-icon>
        <span>Meus Projetos</span>
      </button>
      <button class="btn-nav" (click)="navegarParaGaleria()" matTooltip="Galeria de Pipelines">
        <mat-icon>explore</mat-icon>
        <span>Galeria</span>
      </button>
      <button class="btn-download" (click)="baixarPipeline()" [disabled]="!modeloSelecionado">
        <mat-icon>download</mat-icon>
        Baixar Pipeline
      </button>
      <button class="btn-salvar" (click)="salvarPipeline()">
        <mat-icon>save</mat-icon>
        Salvar
      </button>
      <button class="btn-clear" (click)="limparSessao()">
        <mat-icon>delete_outline</mat-icon>
        Limpar
      </button>
    </div>
  </div>

  <!-- Columns -->
  <div class="execucoes-columns">
    <!-- Coleta -->
    <div class="column column-coleta">
      <div class="column-header coleta-header">
        <div class="column-icon coleta">
          <mat-icon>upload_file</mat-icon>
        </div>
        <span>Coleta</span>
      </div>
      <div class="column-content" cdkDropList [cdkDropListData]="colunaColeta"
        [cdkDropListConnectedTo]="['preprocessamentoList', 'treinoList', 'metricaList']" id="coletaList">
        <div *ngFor="let item of colunaColeta" cdkDrag class="item-card">
          <div class="item-main" (click)="abrirModalExecucao(item)">
            <div class="item-icon">
              <img [src]="'assets/icons/' + item.tipoItem + '.svg'" width="16" />
            </div>
            <span>{{ item.label }}</span>
          </div>
          <mat-icon class="btn-info" (click)="mostrarInfoItem(item, $event)">info_outline</mat-icon>
        </div>
      </div>
    </div>

    <!-- Pré-processamento -->
    <div class="column column-preprocessamento">
      <div class="column-header preprocessamento-header">
        <div class="column-icon preprocessamento">
          <mat-icon>transform</mat-icon>
        </div>
        <span>Pré-processamento</span>
      </div>
      <div class="column-content" cdkDropList #preprocessamentoList="cdkDropList" [cdkDropListData]="colunaPreProcessamento"
        [cdkDropListConnectedTo]="['coletaList', 'treinoList', 'metricaList']">
        <div *ngFor="let item of colunaPreProcessamento" cdkDrag class="item-card">
          <div class="item-main" (click)="abrirModalExecucao(item)">
            <div class="item-icon">
              <mat-icon>transform</mat-icon>
            </div>
            <span>{{ item.label }}</span>
          </div>
          <mat-icon class="btn-info" (click)="mostrarInfoItem(item, $event)">info_outline</mat-icon>
        </div>
      </div>
    </div>

    <!-- Treino -->
    <div class="column column-treino">
      <div class="column-header treino-header">
        <div class="column-icon treino">
          <mat-icon>model_training</mat-icon>
        </div>
        <span>Treinamento</span>
      </div>
      <div class="column-content" cdkDropList #treinoList="cdkDropList" [cdkDropListData]="colunaTreino"
        [cdkDropListConnectedTo]="['coletaList', 'preprocessamentoList', 'metricaList']">
        <div *ngFor="let item of colunaTreino" cdkDrag class="item-card">
          <div class="item-main" (click)="abrirModalExecucao(item)">
            <div class="item-icon">
              <img [src]="'assets/icons/' + item.tipoItem + '.svg'" width="16" />
            </div>
            <span>{{ item.label }}</span>
          </div>
          <mat-icon class="btn-info" (click)="mostrarInfoItem(item, $event)">info_outline</mat-icon>
        </div>
      </div>
    </div>

    <!-- Métricas -->
    <div class="column column-metrica">
      <div class="column-header metrica-header">
        <div class="column-icon metrica">
          <mat-icon>analytics</mat-icon>
        </div>
        <span>Métricas</span>
      </div>
      <div class="column-content" cdkDropList #metricaList="cdkDropList" [cdkDropListData]="colunaMetrica"
        [cdkDropListConnectedTo]="['coletaList', 'preprocessamentoList', 'treinoList']">
        <div *ngFor="let item of colunaMetrica" cdkDrag class="item-card">
          <div class="item-main" (click)="abrirModalExecucao(item)">
            <div class="item-icon">
              <img [src]="'assets/icons/' + item.tipoItem + '.svg'" width="16" />
            </div>
            <span>{{ item.label }}</span>
          </div>
          <mat-icon class="btn-info" (click)="mostrarInfoItem(item, $event)">info_outline</mat-icon>
        </div>
      </div>
    </div>

    <!-- Tutor -->
    <div class="column tutor-column" [ngClass]="tutorThemeClass">
      <div class="column-header" [ngClass]="tutorThemeClass + '-header'">
        <div class="column-icon tutor">
          <mat-icon>school</mat-icon>
        </div>
        <span>Tutor</span>
      </div>
      <div class="column-content tutor-content">
        <app-tutor
          [tutorGeral]="tutor"
          [modeloSelecionado]="modeloSelecionado"
          [metricaSelecionada]="metricasSelecionadas[0]"
          [tutorPipelineInfo]="tutorPipelineInfo"
          [tutorItemInfo]="tutorItemInfo"
          [tutorTheme]="tutorTheme">
        </app-tutor>
      </div>
    </div>
  </div>
</div>
