<div class="modal-container">
  <mat-radio-group [(ngModel)]="modeloValor" (change)="emitSelecaoModelo()">
    <mat-radio-button *ngFor="let model of modelosDisponiveis" [value]="model.valor">
      {{ model.label }}
    </mat-radio-button>
  </mat-radio-group>


  <div class="resumo" *ngIf="modeloSelecionado">
    <h3>Resumo: {{ modelo?.label }}</h3>
    <p>{{ modeloSelecionado.resumo }}</p>
    <h3>Hiperparâmetro</h3>
    <ng-container *ngFor="let hiperparametro of modeloSelecionado.hiperparametros; let idx = index">
      <nav>
        <p>{{hiperparametro.label}}</p>

        <input matInput type="number" maxlength="5" [(ngModel)]="hiperparametro.valorPadrao">
      </nav>
    </ng-container>
  </div>

</div>