<nav class="modal">
  <nav class="modal-header">
    <h2>Importar Dados</h2>
    <button mat-icon-button class="close-button" (click)="fecharModal()">
      <mat-icon>close</mat-icon>
    </button>
  </nav>

  <!-- Input para seleção do arquivo -->
  <input type="file" (change)="onArquivoSelecionado($event)" accept=".xlsx" />

  <!-- Exibe erro se houver algum -->
  <nav *ngIf="erro" class="erro">{{ erro }}</nav>

  <mat-divider></mat-divider>

  <!-- Tabela de configuração das colunas -->
  <nav class="tipos-container">
    <table mat-table [dataSource]="dataSourceColunas" class="tipos-tabela">

      <!-- Nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>
          <nav class="titulo">
            Nome
            <nav class="filtro-container">
              <select id="filtro-nome" (change)="onFiltroSelectChange('nome', $event)" [value]="filtros['nome'] || ''"
                class="filtro-select">
                <option value="">Todos</option>
                <option *ngFor="let opcao of opcoesNome" [value]="opcao">{{ opcao }}</option>
              </select>
            </nav>
          </nav>
        </th>
        <td mat-cell *matCellDef="let linha"> {{ linha.nome }} </td>
      </ng-container>

      <!-- Tipo -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef>
          <nav class="titulo">
            Tipo
            <nav class="filtro-container">
              <select id="filtro-tipo" (change)="onFiltroSelectChange('tipo', $event)" [value]="filtros['tipo'] || ''"
                class="filtro-select">
                <option value="">Todos</option>
                <option *ngFor="let opcao of opcoesTipo" [value]="opcao">{{ opcao }}</option>
              </select>
            </nav>
          </nav>
        </th>
        <td mat-cell *matCellDef="let linha"> {{ linha.tipo }} </td>
      </ng-container>

      <!-- Target -->
      <ng-container matColumnDef="target">
        <th mat-header-cell *matHeaderCellDef>
          <nav class="titulo">
            Target
            <nav class="filtro-container">
              <select id="filtro-target" (change)="onFiltroSelectChange('target', $event)"
                [value]="filtros['target'] || ''" class="filtro-select">
                <option value="">Todos</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
              </select>
            </nav>
          </nav>
        </th>
        <td mat-cell *matCellDef="let linha">
          <mat-radio-group (change)="selecaoTarget(linha.nome)" [(ngModel)]="target" name="target">
            <mat-radio-button [value]="linha.nome"></mat-radio-button>
          </mat-radio-group>
        </td>
      </ng-container>

      <!-- Atributos -->
      <ng-container matColumnDef="atributos">
        <th mat-header-cell *matHeaderCellDef>
          <nav class="titulo">
            Atributos
            <nav class="filtro-container">
              <select id="filtro-atributos" (change)="onFiltroSelectChange('atributos', $event)"
                [value]="filtros['atributos'] || ''" class="filtro-select">
                <option value="">Todos</option>
                <option value="marcado">Marcados</option>
                <option value="desmarcado">Desmarcados</option>
              </select>
            </nav>
          </nav>

        </th>
        <td mat-cell *matCellDef="let linha">
          <mat-checkbox [disabled]="!target || linha.nome === target" [(ngModel)]="atributos[linha.nome]">
          </mat-checkbox>
        </td>
      </ng-container>

      <tr class="thead" mat-header-row *matHeaderRowDef="['nome', 'tipo', 'target', 'atributos']; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: ['nome', 'tipo', 'target', 'atributos'];"></tr>
    </table>
  </nav>

  <mat-divider></mat-divider>

  <!-- Tabela para mostrar dados da planilha -->
  <nav *ngIf="dados.length > 0" class="tabela-container">
    <table mat-table [dataSource]="dados" class="mat-elevation-z1">

      <!-- Colunas dinâmicas -->
      <ng-container *ngFor="let coluna of colunas" [matColumnDef]="coluna">
        <th mat-header-cell *matHeaderCellDef> {{ coluna }} </th>
        <td mat-cell *matCellDef="let elemento"> {{ elemento[coluna] }} </td>
      </ng-container>

      <tr class="thead" mat-header-row *matHeaderRowDef="colunas; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
  </nav>
</nav>