.modal {
  width: 500px;
  height: 500px;
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  padding: 0;
  margin: 0;
  font-size: 24px;
  color: #000;
}

.close-button mat-icon {
  font-size: 30px; /* Ajuste o tamanho do ícone */
}

.tipos-container {
  flex: 0 1 50%; /* Tabela de configuração ocupa 50% da altura do modal */
  overflow: auto;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tabela-container {
  flex: 0 1 50%; /* Tabela de dados ocupa 50% da altura do modal */
  overflow: auto;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.mat-table {
  width: 100%;
  table-layout: fixed;
}

.thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-weight: 600;
}

.erro {
  color: red;
  margin-top: 1rem;
}
