<nav class="modal">


  <!-- Input para seleção do arquivo treino -->
  <label for="arquivo-treino">Planilha de Treino (obrigatória)</label>
  <input id="arquivo-treino" type="file" (change)="onArquivoSelecionado($event, 'treino')" accept=".xlsx" />
  <nav *ngIf="treino.erro" class="erro">{{ treino.erro }}</nav>
  <div *ngIf="treino.nomeArquivo">
    <small>Arquivo selecionado: {{ treino.nomeArquivo }}</small>
  </div>

  <!-- Input para seleção do arquivo teste -->
  <label for="arquivo-teste">Planilha de Teste (opcional)</label>
  <input id="arquivo-teste" type="file" (change)="onArquivoSelecionado($event, 'teste')" accept=".xlsx" />
  <nav *ngIf="teste.erro" class="erro">{{ teste.erro }}</nav>
  <div *ngIf="teste.nomeArquivo">
    <small>Arquivo selecionado: {{ teste.nomeArquivo }}</small>
  </div>

  <!-- Tabela de configuração das colunas TREINO -->
  <ng-container *ngIf="treino.dados.length > 0">
    <mat-divider></mat-divider>
    Configuração do dataset de treino

    <mat-divider></mat-divider>

    <mat-form-field appearance="outline">
      <mat-label>Seleção do target</mat-label>
      <mat-select (selectionChange)="selecaoTarget()" [(ngModel)]="treino.target">
        <mat-option [value]="opTarget" *ngFor="let opTarget of opcoesTarget">{{opTarget}}</mat-option>
      </mat-select>
    </mat-form-field>


    <nav class="tabela-container">
      <table mat-table [dataSource]="dataSourceColunas" class="mat-table">

        <!-- Nome -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>
            <nav class="titulo">
              Nome
              <app-filtro-coluna id="filtro-nome" [opcoes]="opcoesNome" [value]="filtros['nome'] || ''"
                (valueChange)="onFiltroChange('nome', $event)">
              </app-filtro-coluna>
            </nav>
          </th>
          <td mat-cell *matCellDef="let linha"> {{ linha.nome }} </td>
        </ng-container>

        <!-- Tipo -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef>
            <nav class="titulo">
              Tipo
              <app-filtro-coluna id="filtro-tipo" [opcoes]="opcoesTipo" [value]="filtros['tipo'] || ''"
                (valueChange)="onFiltroChange('tipo', $event)">
              </app-filtro-coluna>
            </nav>
          </th>
          <td mat-cell *matCellDef="let linha"> {{ linha.tipo }} </td>
        </ng-container>

        <!-- Atributos -->
        <ng-container matColumnDef="atributos">
          <th mat-header-cell *matHeaderCellDef>
            <nav class="titulo">
              Atributos
              <app-filtro-coluna id="filtro-atributos" [opcoes]="['Marcados', 'Desmarcados']"
                [value]="filtros['atributos'] || ''" (valueChange)="onFiltroChange('atributos', $event)">
              </app-filtro-coluna>
            </nav>
          </th>
          <td mat-cell *matCellDef="let linha">
            <mat-checkbox (change)="emitirResultadoColetaDado()" [disabled]="linha.nome === treino.target"
              [(ngModel)]="treino.atributos[linha.nome]">
            </mat-checkbox>
          </td>
        </ng-container>

        <tr class="thead" mat-header-row *matHeaderRowDef="colunasTabela; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasTabela;"></tr>
      </table>
    </nav>
  </ng-container>

  <mat-divider></mat-divider>

  <!-- Tabela para mostrar dados da planilha TREINO -->
  <ng-container *ngIf="treino.dados.length > 0">
    Dataset de treino
    <nav class="tabela-container">
      <table mat-table [dataSource]="treino.dados" class="mat-table mat-elevation-z1">

        <!-- Colunas dinâmicas -->
        <ng-container *ngFor="let coluna of treino.colunas" [matColumnDef]="coluna">
          <th mat-header-cell *matHeaderCellDef> {{ coluna }} </th>
          <td mat-cell *matCellDef="let elemento"> {{ elemento[coluna] }} </td>
        </ng-container>

        <tr class="thead" mat-header-row *matHeaderRowDef="treino.colunas; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: treino.colunas;"></tr>
      </table>
    </nav>
  </ng-container>
</nav>