@import '../../../../../styles/styles.scss';


:host ::ng-deep .modal-coleta {
  width: 100%;
  height: 100%;
  height: 700px;
  max-width: 100%;
  max-height: 90vh;
  // overflow: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 4px;


  .modal-cabecalho {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 4px;
    padding: 2px 0 2px 0;

    .conteudo {
      width: 100%;
      gap: 4px;
    }
  }

  .modal-conteudo-coleta {
    display: flex;
    flex-direction: column;
    gap: 4px;

  }
}


.close-button mat-icon {
  font-size: 30px;
}



label {
  font-weight: 600;
  display: block;
}

small {
  display: block;
  color: #444;
  font-size: 0.85rem;
}

.titulo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}


.tipos-container,
.tabela-container {
  // flex: 1;
  display: flex;
  // overflow: auto;
  // margin-top: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fafafa;
  // padding: 0.5rem;
}

.mat-table {
  width: 100%;
  // table-layout: fixed;
  border-collapse: collapse;
}

.thead {
  position: sticky;
  // top: 0;
  background-color: #f0f0f0;
  // z-index: 10;
  // font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.erro {
  color: #d32f2f;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

input[type="file"] {
  position: relative;
  width: 100%;
  color: transparent;

  &::file-selector-button {
    color: #000;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  &::file-selector-button:hover {
    background-color: #d5d5d5;
  }
}



.target {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: 4px;
  padding: 2px 0 2px 0;
}

.configuracao-generica {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.configuracao-inicial {
  width: 100%;
  padding-top: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.botao-mais-menos {
  display: flex;
  flex-direction: row;
  width: 100%;

  .botoes {
    width: 100% !important;
    background-color: $branco !important;
    border: none !important;
  }

}