<nav class="modal-coleta">

  <!-- Input para seleção do arquivo treino -->
  <nav class="modal-cabecalho">
    <nav class="conteudo">
      <label for="arquivo-treino">Planilha de Treino (obrigatória)</label>
      <input id="arquivo-treino" type="file" (change)="onArquivoSelecionado($event, 'treino')" accept=".xlsx" />
      <nav *ngIf="treino.erro" class="erro">{{ treino.erro }}</nav>
      <div *ngIf="treino.nomeArquivo">
        <small>Arquivo selecionado: {{ treino.nomeArquivo }}</small>
      </div>
    </nav>


    <!-- Input para seleção do arquivo teste -->
    <nav class="conteudo">
      <label for="arquivo-teste">Planilha de Teste (opcional)</label>
      <input id="arquivo-teste" type="file" (change)="onArquivoSelecionado($event, 'teste')" accept=".xlsx" />
      <nav *ngIf="teste.erro" class="erro">{{ teste.erro }}</nav>
      <div *ngIf="teste.nomeArquivo">
        <small>Arquivo selecionado: {{ teste.nomeArquivo }}</small>
      </div>
    </nav>

  </nav>

  <nav class="modal-conteudo-coleta">
    <!-- Tabela de configuração das colunas TREINO -->
    <ng-container *ngIf="treino.dados.length > 0">
      <mat-divider></mat-divider>

      <nav class="target">
        Configuração do dataset de treino

      </nav>

      <mat-divider></mat-divider>

      <nav class="configuracao-inicial">
        <div class="configuracao-generica">
          <mat-form-field appearance="outline">
            <mat-label>Seleção do target</mat-label>
            <mat-select (selectionChange)="selecaoTarget()" [(ngModel)]="treino.target">
              <mat-option [value]="opTarget" *ngFor="let opTarget of opcoesTarget">{{opTarget}}</mat-option>
            </mat-select>
          </mat-form-field>
          <app-tutor [resumo]="tutor.target"></app-tutor>
        </div>
        <div class="configuracao-generica">
          <mat-form-field appearance="outline">
            <mat-label>Total Treino</mat-label>
            <input matInput type="text" mask="percent" suffix="%" min="50" max="90" [step]="5"
              [(ngModel)]="porcentagemTreino" (ngModelChange)="atualizaTarget()" name="valorSelecionado" step="5" />
            <nav matSuffix class="botao-mais-menos">
              <button [disabled]="porcentagemTreino >= 90" mat-raised-button class="botoes" (click)="incrementar(true)"
                aria-label="Aumentar">
                <mat-icon>add</mat-icon>
              </button>
              <button [disabled]="porcentagemTreino <= 50" mat-raised-button class="botoes" (click)="incrementar(false)"
                aria-label="Diminuir">
                <mat-icon>remove</mat-icon>
              </button>
            </nav>

          </mat-form-field>
          <app-tutor [resumo]="tutor.treinamento"></app-tutor>
        </div>
        <div class="configuracao-generica">
          <mat-hint>
            Total disponível: {{ treino.dados.length }} |
            Treino: {{ treinoCount }} ({{ porcentagemTreino }}%) |
            Teste: {{ testeCount }} ({{ testePercent }}%)
          </mat-hint>
        </div>
      </nav>



      <nav class="tabela-container">
        <table mat-table [dataSource]="dataSourceColunas" class="mat-table mat-elevation-z1">

          <!-- Nome -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>
              <nav class="titulo">
                Nome
                <app-filtro-coluna id="filtro-nome" [opcoes]="opcoesNome" [value]="filtros['nome'] || ''"
                  (valueChange)="onFiltroChange('nome', $event)">
                </app-filtro-coluna>
              </nav>
            </th>
            <td mat-cell *matCellDef="let linha"> {{ linha.nome }} </td>
          </ng-container>

          <!-- Tipo -->
          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef>
              <nav class="titulo">
                Tipo
                <app-filtro-coluna id="filtro-tipo" [opcoes]="opcoesTipo" [value]="filtros['tipo'] || ''"
                  (valueChange)="onFiltroChange('tipo', $event)">
                </app-filtro-coluna>
              </nav>
            </th>
            <td mat-cell *matCellDef="let linha"> {{ linha.tipo }} </td>
          </ng-container>

          <!-- Atributos -->
          <ng-container matColumnDef="atributos">
            <th mat-header-cell *matHeaderCellDef>
              <nav class="titulo">
                Atributos
                <app-filtro-coluna id="filtro-atributos" [opcoes]="['Marcados', 'Desmarcados']"
                  [value]="filtros['atributos'] || ''" (valueChange)="onFiltroChange('atributos', $event)">
                </app-filtro-coluna>
              </nav>
            </th>
            <td mat-cell *matCellDef="let linha">
              <mat-checkbox (change)="emitirResultadoColetaDado()" [disabled]="linha.nome === treino.target"
                [(ngModel)]="treino.atributos[linha.nome]">
              </mat-checkbox>
            </td>
          </ng-container>

          <tr class="thead" mat-header-row *matHeaderRowDef="colunasTabela; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: colunasTabela;"></tr>
        </table>
      </nav>
    </ng-container>

    <!-- Tabela para mostrar dados da planilha TREINO -->
    <ng-container *ngIf="treino.dados.length > 0">

      <nav class="configuracao-generica">
        Dataset de treino
      </nav>
      <nav class="tabela-container">
        <table mat-table [dataSource]="treino.dados" class="mat-table mat-elevation-z1">

          <!-- Colunas dinâmicas -->
          <ng-container *ngFor="let coluna of treino.colunas" [matColumnDef]="coluna">
            <th mat-header-cell *matHeaderCellDef> {{ coluna }} </th>
            <td mat-cell *matCellDef="let elemento"> {{ elemento[coluna] }} </td>
          </ng-container>

          <tr class="thead" mat-header-row *matHeaderRowDef="treino.colunas; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: treino.colunas;"></tr>
        </table>
      </nav>
    </ng-container>
  </nav>


</nav>