/* Definindo tons de azul */
$azul-claro: #ADD8E6;
$azul-medio: #4682B4;
$azul-escuro: #1E3A5F;

/* Definindo tons de cinza */
$cinza-claro: #f4f4f4;
$cinza-medio: #808080;
$cinza-escuro: #404040;

/* Definindo tons de verde */

$verde-claro: #e8f5e9;
$verde-medio: #4caf50;

$vermelho-claro: #e4cfcf;
$vermelho-escuro: #8B0000;


$cor-principal: $vermelho-escuro;
$cor-secundaria: $vermelho-claro;


$cor-principal-escuro: #696969;
$cor-secundaria-escuro: #DCDCDC;




$branco: #fff;
$preto: #000