
@use '@angular/material' as mat;
@import "../styles/colores.scss";


html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.full-height {
  height: 100%;
}


// Personalize o tooltip globalmente
:root {
  @include mat.tooltip-overrides((
    container-color: $cinza-claro,
  ));


  /* checkbox disabled */
  --mdc-checkbox-disabled-selected-checkmark-color: $preto;
  --mdc-checkbox-disabled-unselected-icon-color: lightgray;
  --mdc-checkbox-disabled-selected-icon-color: $preto;

}


.opcoesPipeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  gap: 16px; // Espaço entre os itens

  .mat-mdc-card-header {
    justify-content: center;
  }
}


/* Botão desabilitado */
button[disabled],
.mat-button[disabled] {
  color: $cinza-escuro !important;        
  border: 1px solid $cinza-escuro !important; 
  background-color: $cinza-claro !important; 
  cursor: not-allowed !important;
  opacity: 1 !important;
}


.item-habilitado {
  border: 2px solid $verde-medio;
  background-color: $verde-claro;
}

.item-movido {
  border: 2px solid $azul-escuro;
  background-color: $azul-claro;
}


.item-desabilitado {
  border: 2px dashed $cinza-escuro;
  background-color: $cinza-claro;
}

