@use '@angular/material' as mat;
@import '../styles/colores.scss';

html,
body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

:host {
  min-height: 100%;
  display: flex;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

// Personalize o tooltip globalmente
:root {


  /* checkbox disabled */
  --mdc-checkbox-disabled-selected-checkmark-color: $preto;
  --mdc-checkbox-disabled-unselected-icon-color: lightgray;
  --mdc-checkbox-disabled-selected-icon-color: $preto;

  @include mat.tooltip-overrides((container-color: $cinza-claro,
    ));


}

.mat-checkbox-label {
  white-space: normal !important;
  /* permite quebra de linha */
  word-break: break-word;
  /* quebra palavras longas */
}

.mat-mdc-select-panel {
  background-color: $cinza-claro !important;
}

.mat-mdc-text-field-wrapper {
  width: 50% !important;
}

.mat-mdc-select-trigger {
  width: 95% !important;
}

.mat-mdc-select-value {
  width: 95% !important;
  padding-left: 8px;
}

.mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

.opcoesPipeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  gap: 16px; // Espaço entre os itens

  .mat-mdc-card-header {
    justify-content: center;
  }
}

button[disabled],
button[mat-raised-button][disabled],
.mat-button[disabled] {
  color: $cinza-escuro !important;
  border: 1px solid $cinza-escuro !important;
  background-color: $cinza-claro !important;
  cursor: not-allowed !important;
  opacity: 1 !important;
}


button[mat-raised-button] {
  color: $verde-medio !important;
  border: 1px solid $verde-medio !important;
  background-color: $verde-claro !important;
  transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease;
  cursor: pointer;
}


.item-habilitado {
  border: 2px solid $verde-medio;
  background-color: $verde-claro;
}

.item-movido {
  border: 2px solid $azul-escuro;
  background-color: $azul-claro;
}


.item-desabilitado {
  border: 2px dashed $cinza-escuro;
  background-color: $cinza-claro;
}

mat-divider {
  margin: 1.5rem 0;
}

mat-radio-button {
  margin-right: 0.5rem;
}

mat-checkbox {
  margin: 0 auto;
  display: block;
}