<div class="pre-processamento-container">
  <div *ngFor="let grupo of grupos" class="grupo-section">
    <div class="grupo-header">
      <mat-icon>{{ grupo.icon }}</mat-icon>
      <span>{{ grupo.label }}</span>
    </div>

    <div class="grupo-items" cdkDropList [cdkDropListData]="grupo.itens"
         [cdkDropListSortingDisabled]="true"
         [cdkDropListConnectedTo]="['preprocessamentoList']">
      <div *ngFor="let item of grupo.itens"
           class="pipeline-item"
           cdkDrag
           [cdkDragData]="item"
           [cdkDragDisabled]="item.movido || !item.habilitado"
           [ngClass]="{
             'item-movido': item.movido,
             'item-desabilitado': !item.habilitado && !item.movido,
             'item-habilitado': item.habilitado && !item.movido
           }"
           (click)="onItemClicked(item, $event)">

        <div class="item-icon">
          <mat-icon>transform</mat-icon>
        </div>
        <span class="item-label">{{ item.label }}</span>
        <mat-icon class="btn-info-sidebar" (click)="onInfoClick(item, $event)">info_outline</mat-icon>
      </div>
    </div>
  </div>
</div>
