<nav class="modal">


  <!-- Botão para treinar o modelo atual -->
  <section class="acoes" *ngIf="modeloSelecionado">
    <ng-container *ngIf="treinando">
      <span class="texto-informativo ">
        Aguarde, treinando {{modeloSelecionado.label}}
      </span>
      <mat-spinner color="primary" mode="indeterminate" diameter="50"></mat-spinner>
    </ng-container>

    <ng-container *ngIf="!treinando">
      <button mat-raised-button (click)="enviarParaClassificador(modeloSelecionado.valor)">
        Treinar {{modeloSelecionado.label}}
      </button>
    </ng-container>


  </section>

  <!-- Visualização dos detalhes para todos os modelos treinados -->



  <section class="resultado-container" *ngIf="resultadoTreinamento">


    <nav class="resultado" *ngFor="let modeloValor of getModelosComResultado()">

      <h2>Status do Treinamento - {{ resultadoTreinamento[modeloValor]?.nome_modelo }}</h2>

      <p><strong>Status:</strong> {{ resultadoTreinamento[modeloValor].status }}</p>
      <p><strong>Target:</strong> {{ resultadoTreinamento[modeloValor].target }}</p>
      <p><strong>Atributos:</strong> {{ resultadoTreinamento[modeloValor].atributos?.join(', ') }}</p>
      <p><strong>Classes:</strong> {{ resultadoTreinamento[modeloValor].classes?.join(', ') }}</p>
      <p><strong>Total Amostras Treino:</strong> {{ resultadoTreinamento[modeloValor].total_amostras_treino }}</p>
      <p><strong>Total Amostras Teste:</strong> {{ resultadoTreinamento[modeloValor].total_amostras_teste }}</p>

      <button *ngIf="!treinando" mat-raised-button (click)="enviarParaClassificador(modeloValor)">
        Treinar {{ resultadoTreinamento[modeloValor]?.nome_modelo }}
      </button>
    </nav>

  </section>

</nav>