@use "../../../../../styles/colores.scss" as *;

.modal {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  max-height: 80vh;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  color: #333;
}

.acoes {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
  align-items: center;
  gap: 16px;

  .texto-informativo {
    color: $verde-medio;
  }
}


.resultado-container {
  background-color: $cinza-claro;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px;
  border-radius: 8px;
  gap: 16px;
  width: 100%;

  .resultado {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    p {
      width: 100%;
    }

    h2 {
      font-size: 1.3rem;
      color: #222;
      border-bottom: 2px solid #1976d2;
      padding-bottom: 0.3rem;
    }
  }
}

.resultado-container::-webkit-scrollbar {
  width: 8px;
}

.resultado-container::-webkit-scrollbar-track {
  background: transparent;
}

.resultado-container::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 4px;
}



p {
  margin: 0.3rem 0;
  font-size: 1rem;
  line-height: 1.4;

  strong {
    color: #555;
  }
}


.mat-progress-spinner circle {
  stroke: red !important;
  /* isso sobrescreve qualquer tema */
}

/* Responsividade */
@media (max-width: 480px) {
  .modal {
    width: 95%;
    padding: 1rem 1.2rem;
    max-height: 90vh;
  }

  .acoes {
    justify-content: center;
    margin-bottom: 1rem;
  }
}