<nav class="modal">

  <section *ngIf="resultadoTreinamento" class="resultado-container">
    <h2>Status do Treinamento</h2> 
    <p><strong>Target:</strong> {{ resultadoTreinamento.teste?.target || resultadoTreinamento.target }}</p>
    <p><strong>Atributos:</strong> {{ resultadoTreinamento.atributos?.join(', ') || atributosFormatados }}</p>
    <p><strong>Classes:</strong> {{ resultadoTreinamento?.classes?.join(', ') }}</p>
    <p><strong>Total Amostras Teste:</strong> {{ resultadoTreinamento?.total_amostras_teste }}</p>
    <p><strong>Total Amostras Treino:</strong> {{ resultadoTreinamento?.total_amostras_treino }}</p>
  </section>

  <section class="acoes">
    <button mat-raised-button color="primary" (click)="enviarParaClassificador()">
      Treinar
    </button>
  </section>

</nav>
