<div class="modelos-container">
  <!-- Supervisionado -->
  <div class="modelo-grupo" *ngIf="modelosSupervisionado.length > 0">
    <div class="grupo-header">
      <mat-icon>school</mat-icon>
      <span>Supervisionado</span>
    </div>
    <nav cdkDropList [cdkDropListData]="modelosSupervisionado" (cdkDropListDropped)="onItemDropped($event)"
         [cdkDropListSortingDisabled]="true" class="opcoesPipeline">
      <nav *ngFor="let item of modelosSupervisionado" class="pipeline-item"
           cdkDrag [cdkDragData]="item" [cdkDragDisabled]="item.movido || !item.habilitado"
           [ngClass]="{
             'item-movido': item.movido,
             'item-desabilitado': !item.habilitado && !item.movido,
             'item-habilitado': item.habilitado && !item.movido
           }">
        <div class="item-icon">
          <img [src]="'assets/icons/' + item.tipoItem + '.svg'" width="16" />
        </div>
        <span class="item-label">{{ item.label }}</span>
        <mat-icon class="btn-info-sidebar" (click)="onInfoClick(item, $event)">info_outline</mat-icon>
      </nav>
    </nav>
  </div>

  <!-- Não Supervisionado -->
  <div class="modelo-grupo" *ngIf="modelosNaoSupervisionado.length > 0">
    <div class="grupo-header">
      <mat-icon>explore</mat-icon>
      <span>Não Supervisionado</span>
    </div>
    <nav cdkDropList [cdkDropListData]="modelosNaoSupervisionado" (cdkDropListDropped)="onItemDropped($event)"
         [cdkDropListSortingDisabled]="true" class="opcoesPipeline">
      <nav *ngFor="let item of modelosNaoSupervisionado" class="pipeline-item"
           cdkDrag [cdkDragData]="item" [cdkDragDisabled]="item.movido || !item.habilitado"
           [ngClass]="{
             'item-movido': item.movido,
             'item-desabilitado': !item.habilitado && !item.movido,
             'item-habilitado': item.habilitado && !item.movido
           }">
        <div class="item-icon">
          <img [src]="'assets/icons/' + item.tipoItem + '.svg'" width="16" />
        </div>
        <span class="item-label">{{ item.label }}</span>
        <mat-icon class="btn-info-sidebar" (click)="onInfoClick(item, $event)">info_outline</mat-icon>
      </nav>
    </nav>
  </div>
</div>
