@use "../../../../../styles/styles.scss" as *;


:host ::ng-deep .mat-mdc-dialog-surface {
  padding: 0 !important;
  background: transparent;
  overflow: hidden;
  box-sizing: border-box;
}

// Estilo principal do modal
::ng-deep .modal-layout {

  // transform: translate(-50%);
  display: flex;
  height: 900px;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  padding: 1rem;
  border: 3px solid;
  position: fixed;
  top: 2%;
  left: 25%;

  // Gaveta aberta → largura total: 900px
  &.expanded {
    width: 900px !important;
  }

  // Gaveta fechada → só a main-content: 650px
  &:not(.expanded) {
    width: 650px !important;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 650px;
    box-sizing: border-box;
    justify-content: space-between;

    .modal-cabecalho {
      // background-color: antiquewhite;
    }

    .modal-conteudo {
      // display: flex;
      padding: 4px 0 4px 0;
      overflow: auto;
      width: 100%;
      height: 80%;
    }

    .modal-footer {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      // padding: 4px 0 4px 0;
      gap: 1rem;
    }

    .box-linha {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-content: center;
      flex-wrap: nowrap;
      align-items: center;
    }

    .titulo {
      justify-content: space-between;
    }

    .breadcrumb {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.5rem;
      // width: 100%;

      .bolinha {
        width: 30px !important;
        height: 30px !important;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: white;
        margin: 0 5px;
      }

      .linha {
        height: 4px;
        width: 5%;
        border-radius: 2px;
      }

      .visitada {
        background-color: $azul-claro;
        color: $azul-escuro;
      }

      .atual {
        background-color: $verde-claro;
        color: $verde-medio;
      }

      .desabilitada {
        background-color: $cinza-claro;
        color: $cinza-escuro;
      }
    }

  }

  .main-content-pad {
    padding-right: 1rem;
  }

  .side-drawer {
    width: 250px;
    // background-color: #f5f5f5;
    // padding: 1rem;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
  }
}


/* botão puxador */
.drawer-toggle {
  border: none;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}