<nav class="box-formulario">

  <nav class="box-titulo">
    <nav class="titulo">
      <h2>Texto treinamento</h2>
    </nav>
    <nav class="titulo bloco">
      <button [disabled]="formConfTutorTreinamento.invalid" class="botao-principal" (click)="putTutor()">EDITAR</button>
    </nav>
  </nav>
  <mat-divider class="linha"></mat-divider>
  <form [formGroup]="formConfTutorTreinamento">
    <quill-editor [readOnly]="erroTutor" [modules]="modules" class="editor" formControlName="texto_pipe">
    </quill-editor>
  </form>
</nav>