@import "../../styles/styles.scss";


.dashboard {
  display: flex;
  width: 100%;
  // padding: 1rem;
  box-sizing: border-box;
  height: 100vh; // ocupa toda a altura da tela
  overflow: hidden;

  .dashboard-pipeline {
    width: 25%;
    background-color: $cinza-claro;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .dashboard-execucoes {
    width: 75%;
    background-color: $branco;
    padding: 1rem;
    // overflow-y: auto;
  }
}