@import '../../styles/colores.scss';

.dashboard {
  display: flex;
  width: 100%;
  height: 100vh;
}

.dashboard-pipeline {
  flex: 25%; 
  background-color: $cinza-claro; 
  padding: 1rem;
}

.dashboard-execucoes {
  flex: 75%; 
  background-color: $branco;
  padding: 1rem;
  overflow-y: auto;
}
