@import '../../../../styles/colores.scss';
@import '../../../../styles/styles.scss';


.box-principal {

  display: flex;
  width: 100%;
  // height: 100%;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: baseline;
  padding: 16px;

  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 5px;
    width: 100%;
    gap: 16px;

    .box-titulo {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .titulo {
        display: flex;
        flex-direction: row;
        width: 50%;
        color: $cor-principal;
        font-weight: 600;
      }

      .bloco {
        justify-content: flex-end;
      }
    }

  }

  .mat-tab-group {
    width: 100%;

    .box-coluna {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
      border: 2px solid $cor-principal;
      border-radius: 4px;
      padding: 1rem;
    }


  }


}


.box-formulario {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;


  .box-titulo {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .titulo {
      display: flex;
      flex-direction: row;
      width: 50%;
      color: $cor-principal;
      font-weight: 600;
    }

    .bloco {
      justify-content: flex-end;
    }
  }


  form {
    width: 100%;
  }

  .editor {
    width: 100%;
    height: 400px;
  }

  .linha {
    margin: 1rem 0 1rem 0;
  }

}

.texto-label {
  color: $cor-principal;
  margin: 1rem 0 1rem 0;
  font-size: 16px;
  font-weight: 600;
}