<div class="metricas-container">
  <div class="metrica-grupo" *ngFor="let grupo of grupos">
    <div class="grupo-header">
      <mat-icon>{{ grupo.icone }}</mat-icon>
      <span>{{ grupo.nome }}</span>
    </div>
    <nav cdkDropList [cdkDropListData]="grupo.itens" (cdkDropListDropped)="onItemDropped($event)"
         [cdkDropListSortingDisabled]="true" class="opcoesPipeline">
      <nav *ngFor="let item of grupo.itens" class="pipeline-item"
           cdkDrag [cdkDragData]="item" [cdkDragDisabled]="item.movido || !item.habilitado"
           [ngClass]="{
             'item-movido': item.movido,
             'item-desabilitado': !item.habilitado && !item.movido,
             'item-habilitado': item.habilitado && !item.movido
           }">
        <div class="item-icon">
          <img [src]="'assets/icons/' + item.tipoItem + '.svg'" width="16" />
        </div>
        <span class="item-label">{{ item.label }}</span>
        <mat-icon class="btn-info-sidebar" (click)="onInfoClick(item, $event)">info_outline</mat-icon>
      </nav>
    </nav>
  </div>
</div>
