<nav cdkDropList [cdkDropListData]="itens" (cdkDropListDropped)="onItemDropped($event)"
     [cdkDropListSortingDisabled]="true" class="opcoesPipeline">
  <nav *ngFor="let item of itens" class="pipeline-item"
       cdkDrag [cdkDragData]="item" [cdkDragDisabled]="item.movido || !item.habilitado"
       [ngClass]="{
         'item-movido': item.movido,
         'item-desabilitado': !item.habilitado && !item.movido,
         'item-habilitado': item.habilitado && !item.movido
       }">

    <div class="item-icon">
      <img [src]="'assets/icons/' + item.tipoItem + '.svg'" width="16" />
    </div>
    <span class="item-label">{{ item.label }}</span>

    <button class="btn-info-sidebar" (click)="onInfoClick(item, $event)" matTooltip="Ver informações">
      <mat-icon>info_outline</mat-icon>
    </button>
  </nav>
</nav>
