<div class="box-formulario">
  <div class="box-titulo">
    <div class="titulo">
      <h2>Texto sobre os modelos</h2>
    </div>
    <div class="titulo bloco">
      <button [disabled]="formConfTutorSelecaoModelo.invalid" class="botao-principal" (click)="putTutor()">
        EDITAR
      </button>
    </div>
  </div>

  <mat-divider class="linha"></mat-divider>

  <!-- Seleção do tipo de aprendizado -->
  <mat-radio-group (change)="onTipoModelo()" [(ngModel)]="tipoModeloSelecionado" [ngModelOptions]="{standalone: true}">
    <mat-radio-button [value]="0">Classificação</mat-radio-button>
    <mat-radio-button [value]="1">Regressão</mat-radio-button>
    <mat-radio-button [value]="2">Agrupamento</mat-radio-button>
    <mat-radio-button [value]="3">Redução de dimensionalidade</mat-radio-button>
  </mat-radio-group>

  <mat-divider class="linha"></mat-divider>
  <mat-accordion multi class="mat-accordion">
    <mat-expansion-panel class="mat-expansion-panel"
      *ngFor="let modelo of modelos[tipoModeloSelecionado]; let i = index ">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ modelo?.label }} </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-divider class="linha"></mat-divider>

      <form [formGroup]="formConfTutorSelecaoModelo">
        <ng-container *ngIf="tipoModeloSelecionado === 0">
          <ng-container formArrayName="classificacao">
            <div [formGroupName]="i">
              <nav class="texto-label">
                Explicação sobre o modelo
              </nav>
              <quill-editor [readOnly]="erroTutor" class="editor" formControlName="explicacao">
              </quill-editor>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="tipoModeloSelecionado === 1">
          <ng-container formArrayName="regressao">
            <div [formGroupName]="i">
              <nav class="texto-label">
                Explicação sobre o modelo
              </nav>
              <quill-editor [readOnly]="erroTutor" class="editor" formControlName="explicacao">
              </quill-editor>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="tipoModeloSelecionado === 2">
          <ng-container formArrayName="agrupamento">
            <div [formGroupName]="i">
              <nav class="texto-label">
                Explicação sobre o modelo
              </nav>
              <quill-editor [readOnly]="erroTutor" class="editor" formControlName="explicacao">
              </quill-editor>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="tipoModeloSelecionado === 3">
          <ng-container formArrayName="reducao_dimensionalidade">
            <div [formGroupName]="i">
              <nav class="texto-label">
                Explicação sobre o modelo
              </nav>
              <quill-editor [readOnly]="erroTutor" class="editor" formControlName="explicacao">
              </quill-editor>
            </div>
          </ng-container>
        </ng-container>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>